<br />
<% post.comments.forEach(function (comment, index) { %>
<div style="padding-left:4em">
    <p><img src="<%= comment.head %>" class="l_head" /><a href="<%= comment.website %>"><%= comment.name %></a>
        <span class="info"> 回复于 <%= comment.time %></span></p>
    <p><%- comment.content %></p>
</div>
<% }) %>

<form method="post" class="article-comment">
    <% if (user) { %>
            <div class="input-group">
                <span class="input-group-addon">姓名：</span>
                <input type="text" name="name" class="form-control" value="<%= user.name %>" /><br />
            </div>
            <div class="input-group">
                 <span class="input-group-addon">邮箱：</span>
                <input type="text" class="form-control" name="email" value="<%= user.email %>" /><br />
            </div>
            <div class="input-group">
                <span class="input-group-addon">网址：</span>
                <input type="text" class="form-control" name="website" value="/u/<%= user.name %>" /><br />
            </div>
    <% } else { %>
        <div class="input-group">
            <span class="input-group-addon">姓名：</span>
            <input type="text" class="form-control" name="name" /><br />
        </div>
        <div class="input-group">
            <span class="input-group-addon">邮箱：</span>
            <input type="text" class="form-control" name="email" /><br />
        </div>
        <div class="input-group">
            <span class="input-group-addon">网址：</span>
            <input type="text" class="form-control" name="website" value="http://" /><br />
        </div>
    <% } %>
    <textarea name="content" rows="5" cols="80" style="width: 80%;"></textarea><br />
    <input type="submit" value="留言" class="btn btn-success"/>
</form>